.page {
  height: 100vh;
  background: linear-gradient(
    to right,
    #b3ffcb 0%,
    #ffeeb3 20%,
    #ffc7b3 40%,
    #ddc2ff 60%,
    #b3e0ff 80%,
    #b3ffba 100%
  );
  background-size: 150% 150%;
  animation: rainbow 5s ease infinite;
}

@keyframes rainbow {
  0% {
    background-position: 0% 82%;
  }
  50% {
    background-position: 100% 19%;
  }
  100% {
    background-position: 0% 82%;
  }
}

.white {
  width: 100%;
  height: 100%;
  background-color: #ffffffab;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

@media (orientation: portrait) {
  .page {
    height: 100vh;
    background: linear-gradient(
      to bottom,
      #b3ffcb 0%,
      #ffeeb3 20%,
      #ffc7b3 40%,
      #ddc2ff 60%,
      #b3e0ff 80%,
      #b3ffba 100%
    );
    background-size: 200% 200%;
    animation: rainbow 10s ease infinite;
  }
}

@media (max-width: 767px) {
  .card {
    transform: translateY(-3vh);
  }
}
