.button {
  border: 1px solid transparent;
  background: none;
  font-family: inherit;
  line-height: 1;
  padding: 0.7em 1em;
  border-radius: 0.5em;
  max-width: 18em;
  width: 100%;
  cursor: pointer;
  height: fit-content;
  transition: background-color 100ms ease-out;
  word-break: auto-phrase;
}

.primary {
  border: 1px solid;
}

.secondary {
  width: fit-content;
}

.sizeS {
  font-size: 16px;
}

.sizeM {
  font-size: 18px;
}

.wide {
  max-width: 100%;
}

@media (max-width: 1023px) {
  .sizeS {
    font-size: 14px;
  }

  .sizeM {
    font-size: 16px;
  }
}

@media (max-width: 767px) {
  .sizeS {
    font-size: 12px;
  }

  .sizeM {
    font-size: 14px;
  }
}

@media (hover: hover) {
  .secondary:hover {
    background-color: #00000012;
  }
}
